<div class="modal-body">
    <div class="areainput">
        <label for="areaname" class="arealabel">
            Name: 
            <input ng-model="areaModal.ModalService.AreaName" ng-model-options="{getterSetter: true}" type="text" id="areaname">
        </label>
    </div>
    <div class="areainput">
        <label for="areadescription">
            Description: 
            <input ng-model="areaModal.ModalService.Description" ng-model-options="{getterSetter: true}" type="text" id="areadescription">
        </label>
    </div>
    <div class="areainput">
        <label for="areacitizens">
            Citizens: 
            <input ng-model="areaModal.ModalService.CitizenAmount" ng-model-options="{getterSetter: true}" type="text" id="areacitizens">
        </label>
    </div>
</div>